body{
    background-image: url(img/bg.jpg);
}

/* Nav bar */
.navbar {
    position: relative;
    z-index: 1;
}
.navbar-brand {
    font-family: viga;
    font-size: 32px;
    
}

/* jumbotron */
.jumbotron {
    height: 540px;
    text-align: center;
    position: relative;
    
}
.jumbotron .container {
    position: relative;
    z-index: 1;
}
.jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: linear-gradient(to top,rgba(0, 0,0,1), rgba(0, 0, 0, 0)),
    url("img/tpq.jpg");
    background-color: rgb(0, 0, 0);
    position: absolute;
    bottom: 0;
}
.jumbotron .display-4 {
    color: white;
    text-align: center;
    margin-top: 150px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    font-size: 30px;
    margin-bottom: 30px;
}
.jumbotron .display-4 span {
    font-weight: 500;
}

/* panel */

.panel{
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    margin-top: -100px;
    background-color: white;
    padding: 30px;

}
.panel img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.panel h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;
}

.panel p{
    font-size: 14px;
    color: #ACACAC;
}

/* content */
.g{
    margin-top: 120px;
    text-align: center;
}
.g h3 {
    font-size: 52px;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 30px;
}
.g h3 span {
    font-weight: 500;
}

.g p{
    font-size: 18px;
    color: #ACACAC;
    font-weight: 200;
    margin: 30px 0;
}



/* about */

.about {
    margin-top: 100px;
}

.about h5{
    text-align: center;
    font-weight: 200;
    font-size: 32px;
}

.about h5 span{
    font-weight: 100;
    font-size: 25px;
    font-style: italic;
}

.about figure img {
    width: 90px;
    margin: 20px 15px 10px;

}

.about figure h5{
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    color: #1C2C56;
}

.about figure p {
    font-size: 12px;
    color: #ACACAC;
}

.about figcaption {
    text-align: center;
}


.footer{
    margin-top: 100px;
}
.footer p{
    columns: #ACACAC;
    font-size: 18px;
}




/* utility */
.tombol {
    text-transform: uppercase;
    border-radius: 40px;

}


/* desktop version */
@media (min-width: 992px) {
    .navbar-brand .nav-link {
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    }
    .nav-link {
        text-transform: uppercase;
        margin-right: 50px;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #0B63DC;
        width: 50%;
        margin: auto;
        padding: 5px;
        margin-bottom: -15px;
    }

    .jumbotron {
        margin-top: -75px;
        height: 640px;
    }
    .jumbotron .display-4 {
        font-size: 60px;
    }
    .g{
        text-align: left;
    }
}